* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url(./imgs/main_bg7.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 28px;
}
.logo {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.form-title {
  color: white;
  text-align: center;
  padding-bottom: 6px;
  border-bottom: solid 1px #9b9b9b;
  font-size: 26px;
}
.main-user-info {
  margin: 15px 0;
}
.user-input-box {
  margin: 15px 0;
}
.user-input-box label,
.email-box label {
  display: block;
  color: white;
  font-size: 20px;
}
.user-input-box input,
.user-input-box select,
.email-box input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.form-submit-btn input {
  width: 100%;
  background-color: rgba(65, 105, 225, 0.7);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}
.form-submit-btn input:hover {
  background-color: rgba(0, 0, 205, 0.7);
  transition: 300ms;
  cursor: pointer;
}
