* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(imgs/main_bg7.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.6);
  padding: 28px;
  margin: 0 28px;
  /* margin: auto; */
  max-height: fit-content;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px #9b9b9b;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: #fafafa;
  text-shadow: 2px 2px 2px #101010;
  border-bottom: solid 1px #9b9b9b;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  width: 50%;
  padding-bottom: 15px;
}
.email-box {
  width: 100%;
  padding-bottom: 15px;
}
.email-box input {
  width: 97.5%;
  height: 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.email-box label {
  width: 95%;
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box label {
  width: 95%;
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input,
select {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 30px 8px 10px; /* Add space for dropdown arrow */
}
.form-submit-btn input {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 10px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #ccc;
  background: rgba(65, 105, 225, 0.7);
}

.form-submit-btn input:hover {
  background: rgba(0, 0, 205, 0.7);
  color: #fafafa;
}

@media (max-width: 700px) {
  .container,
  .logo,
  .disclamer-container {
    min-width: 300px;
  }

  .user-input-box,
  .email-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .email-box input {
    width: 95%;
  }
  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 415px) {
  .disclamer-container {
    padding: 20px;
  }
  .disclamer-header {
    font-size: 20px;
  }
  .disclamer-text {
    font-size: 14px;
  }
  .logo {
    min-width: 250px;
  }
}
@media (max-width: 375px) {
  .logo {
    min-width: 200px;
  }
  .form-title {
    font-size: 20px;
  }
}
