* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 10px;
}
body {
  background-image: url(imgs/main_bg7.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 700px;
  margin: 0 28px;
  border-radius: 10px;
  padding: 28px;
  box-shadow: 2px -2px 2px #9b9b9b;
}

.logo {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.form-title {
  color: #fafafa;
  text-align: center;
  padding-bottom: 6px;
  border-bottom: solid 1px #9b9b9b;
  font-size: 2.6rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px #101010;
}

.main-user-info {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-input-box {
  width: 48%;
  margin-bottom: 15px;
}
.email-box {
  width: 100%;
  margin-bottom: 15px;
}
.user-input-box label,
.email-box label {
  display: block;
  color: #fafafa;
  font-size: 2rem;
  font-weight: 400;
  margin: 2px 0;
}

.email-box input,
.user-input-box input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  appearance: none;
}

.form-submit-btn input {
  width: 100%;
  background-color: rgba(65, 105, 225, 0.7);
  padding: 10px;
  color: #ccc;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 2rem;
}

.form-submit-btn input:hover {
  background-color: rgba(0, 0, 205, 0.7);
  color: #fafafa;
  transition: 300ms;
  cursor: pointer;
}

@media (max-width: 700px) {
  .logo,
  .container {
    min-width: 300px;
  }
  .user-input-box {
    width: 100%;
  }
  .main-user-info {
    max-height: 380px;
    overflow: scroll;
    scrollbar-width: none;
  }
}
@media (max-width: 415px) {
  .logo {
    min-width: 250px;
  }
}
@media (max-width: 375px) {
  .logo {
    min-width: 200px;
  }
  html {
    font-size: 8px;
  }
}
